:root {
  --fs-xl: 4.25rem;
  --fs-600: 1.65rem;
  --fs-500: 1.5rem;
  --fs-400: 1.25rem;
  --fs-arrow: 2.2rem;

  /* Colors */
  --c-light: #eDf0f1;
  --c-dark1: #171c2a;
  --c-dark2: #131722;
  --c-dark3: #0e1119;
  --c-dark-hover: #0c101a;
  --c-light-hover: #dbe0e1;
}

@media (min-width: 620px) {
  :root {
    --fs-xl: 5.5rem;
    --fs-600: 2.2rem;
    --fs-500: 1.75rem;
    --fs-400: 1.5rem;
    --fs-arrow: 3rem;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--c-light);
  font-family: 'Josefin Sans', sans-serif;
  /* font-family: 'Cardo', serif; */
}

body {
  background-color: var(--c-dark1);
  min-height: 200vh;
}

li,
a,
header.logo {
  font-weight: 500;
  font-size: var(--fs-500);
  text-decoration: none;
  text-shadow: 0 0 1rem var(--c-dark1);
}

header {
  position: fixed;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10em;
  background-color: var(--c-dark1);
  z-index: 1;
}

.mobile-nav-toggle {
  display: none;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links li {
  /* display: inline-block; */
  padding: 0.15em 0.83em;
}

.nav-links li:hover {
  background-color: var(--c-dark-hover);
}

.nav-links li {
  transition: all 0.3s ease 0s;
}

@media only screen and (max-width: 1950px) {
  header {
    padding: 0 5em;
  }
}

@media only screen and (max-width: 1250px) {
  header {
    padding: 0em 2em;
  }
}

@media only screen and (max-width: 890px) {
  .nav-links {
    /* display: none; */
    z-index: 1000;
    position: fixed;
    inset: 0 0 0 40%;
    flex-direction: column;
    padding: min(20vh, 10rem) 2em;
    background-color: hsl(0 0% 0% / 0.45);
    backdrop-filter: blur(1rem);

    /* Move 100% of own width off to the right (off the page) */
    transform: translateX(100%);
    transition: transform 150ms ease-out;
  }

  .nav-links[data-visible="true"] {
    transform: translateX(0%);
  }

  .nav-links li {
    padding: 0.65em;
  }

  .mobile-nav-toggle {
    z-index: 9999;
    display: block;
    position: absolute;
    background-color: transparent;
    background-image: url("assets/svg/icon-hamburger.svg");
    background-size: 1.5rem 1.5rem;
    background-repeat: no-repeat;
    width: 1.5rem;
    right: 2rem;
    border: 0;
    aspect-ratio: 1;
  }

  .mobile-nav-toggle[aria-expanded="true"] {
    background-image: url("assets/svg/icon-close.svg");
  }
}

.container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.container img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  background-size: cover;
  position: absolute;
  z-index: -1;
  filter: brightness(73%);
  overflow: hidden;
}

.main-title {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -45%);
  text-align: center;
}

.main-name {
  font-size: var(--fs-xl);
  line-height: 0.9;
  font-weight: 700;
  text-decoration: underline;
  font-family: 'Cardo', serif;
  text-shadow: 0 0 1.5rem var(--c-dark1);
}

.main-desc {
  cursor: default;
  margin-top: 1em;
  font-size: var(--fs-600);
  text-shadow: 0 0 1.3rem var(--c-dark1);
}

.scroll-indicator {
  position: absolute;
  bottom: 80px;
  left: 50%;
  text-align: center;
  width: 6rem;
  margin-left: -3rem;
  opacity: 0.8;
  font-size: var(--fs-arrow);
  animation: bounce 1.5s ease infinite;
}

@keyframes bounce {
  50% {
    transform: translateY(-50%)
  }
}

.content {
  max-width: 100%;
  min-height: 100vh;
  font-size: var(--fs-400);
}

.section-title {
  margin-bottom: 1em;
  font-family: 'Cardo', serif;
}

.border-svg {
  position: absolute;
  width: 100%;
  bottom: -1px;
  left: 0;
}

.content .about-sec,
.content .projects-sec,
.content .art-sec {
  position: relative;
  width: 100%;
  padding-top: 8em;
  padding-bottom: 14em;
}

.content .projects-sec {
  background-color: var(--c-dark2);
}

@media only screen and (min-width: 1670px) {

  .content .about-sec,
  .content .projects-sec {
    padding-bottom: 18em;
  }
}

.content .about-sec .about-text,
.content .projects-sec .projects-text,
.content .projects-sec .card-grid,
.content .art-sec .art-text {
  width: min(70%, 55rem);
  margin-inline: auto;
}

.card-grid {
  margin: 3rem 0;
  display: grid;
  /* card min size 300px, max size: as large as needed */
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: flex-start;
  gap: 1rem;
}

@media only screen and (max-width: 900px) {
  .card-grid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}

.card {
  --padding: 1rem;
  background-color: var(--c-dark2);
  /* border: 1px solid #777; */
  border: none;
  box-shadow: 0 2px 5px 0 rgba(255, 255, 255, 0.25);
  border-radius: 0.25rem;
  overflow: hidden;
}

.card-image {
  overflow: hidden;
}

.card-title {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  padding: var(--padding);
  padding-bottom: 0;
}

.card-image img {
  display: block;
  max-height: 200px;
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  object-position: center;
  transition: 200ms transform ease-in-out;
}

.card:hover .card-image img {
  transform: scale(1.025);
}

.card-body {
  font-size: 1.25rem;
  padding: 0 var(--padding);
}

.card-footer {
  padding: var(--padding);
  padding-top: 0;
}

.card-footer button {
  margin-top: 1rem;
  background-color: var(--c-dark1);
  border: 1px solid var(--c-light);
  font-size: 1.25rem;
  padding: 0.5em 0.75em;
  border-radius: 0.25em;
  cursor: pointer;
}

.card button:hover,
.card button:focus {
  background-color: var(--c-dark-hover);
}

.content .art-sec {
  background-color: var(--c-dark3);
}